@media screen and (max-width: 1000px) {
    // 상단영역
    #header {
        > div {
            .center {width: 85%;}
        }
        .h_bot {
            .center {
                height: 65px;
                align-items: center;
            }
            .gnb {
                display: none;
            }
            .mobile_menu {
                display: block;
            }
        }
    }
    // 중간영역
    #container {
        // 메인페이지 popular_local 영역
        .popular_local {
            .center {
                width: 85%;
            }
        }
        //메인페이지 tour_bus 영역
        .tour_bus {
            .center {
                width: 85%;
                .bus_wrap {
                    transform: translateY(-215%);
                    flex-wrap: wrap;
                    .bus_box {
                        width: 45%;
                    }
                }
            }
        }
        //메인페이지 tour_bus 영역
        .tour_bus {
            .center {
                width: 85%;
                .bus_wrap {
                    transform: translateY(-215%);
                    flex-wrap: wrap;
                    .bus_box {
                        width: 45%;
                    }
                }
            }
        }
        //메인페이지 local_count 영역
        .local_count {
            .center {
                width: 85%;
            }
        }
        //메인페이지 package 영역
        .package {
            .center {
                width: 85%;
                .package_wrap {
                    flex-wrap: wrap;
                    .left {
                        width: 100%; height: 315px;
                        margin-bottom: 35px;
                        .big_text {
                            padding: 20px 30px;
                            margin-bottom: 0;
                        }
                    }
                    .right {
                        position: relative;
                        right: -100%;
                        height: 285px;
                        // width: ;
                        .local {
                            left: 0;
                            .box {
                                width: 34.333%;
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        // 클래스 'on'이 붙었을 때
        .section.on {
            .center {
                //클래스 'on' 붙은 package 영역
                .package_wrap {
                    .right {left: 0;}
                }
            }
        }
        // 배너 영역
        .banner.list {
            .center {width: 85%;}
        }
        // 호텔페이지 where 영역
        .where {
            .center {
                width: 85%;
                .sub_popular_local,.theme_hotel {
                    .local_list_wrap,.theme_list_wrap {
                        flex-wrap: wrap;
                        > a {
                            width: 48%; margin: 1%;
                            .local_list,.theme_list {
                                height: 320px;
                            }
                        }
                    }
                }
            }
        }
        // 호텔페이지 many_hotel 영역
        .many_hotel {
            .center {width: 85%;}
        }
        // 호텔페이지 notice 영역
        .notice {
            .center {width: 85%;}
        }
    }
}