<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 준비중</title>
    <%- include("common/font_icon.ejs"); %>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("common/header.ejs"); %>
    <div id="nothing">
        <div class="wrap">
            <div class="icon">
                <i class="fa-solid fa-exclamation"></i>
            </div>
            <p class="text1">해당 페이지는 오픈준비중 입니다.</p>
            <p class="text2">이용에 불편을 드려서 죄송합니다.<br>빠른 시일 내에 찾아뵙겠습니다.</p>
            <p class="text3">현재 서비스중인 페이지는 <span>호텔 / 커뮤니티</span> 입니다.</p>
            <p class="thank">감사합니다.</p>
        </div>
    </div>
    <%- include("common/footer.ejs"); %>
</body>
</html>
