<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>호텔(서브페이지)</title>
    <%- include("common/font_icon.ejs"); %>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("common/header.ejs"); %>
    <div id="container">
        <div class="where">
            <div class="center">
                <h3 class="title">어디로 가시나요?</h3>
                <div class="popular_local">
                    <p class="subtitle">최근 인기많은 지역</p>
                    <div class="local_list_wrap">
                        <!-- 나중에 반복문으로 만들어보기 -->
                        <div class="local_list">
                            <img class="local_bg" src="/img/jeju.jpg" alt="">
                            <div class="text_box">#제주</div>
                        </div>
                        <div class="local_list">
                            <img class="local_bg" src="/img/busan.jpg" alt="">
                            <div class="text_box">#부산</div>
                        </div>
                        <div class="local_list">
                            <img class="local_bg" src="/img/seoul2.jpg" alt="">
                            <div class="text_box">#서울</div>
                        </div>
                        <div class="local_list">
                            <img class="local_bg" src="/img/chuncheon.jpg" alt="">
                            <div class="text_box">#춘천</div>
                        </div>
                    </div>
                </div>
                <div class="theme_hotel">
                    <p class="subtitle">다양한 분위기의 숙소</p>
                    <div class="theme_list_wrap">
                        <!-- 나중에 반복문으로 만들어보기 -->
                        <div class="theme_list">
                            <div class="center">
                                <img class="theme_bg" src="" alt="">
                                <div class="text_box">#모던한</div>
                            </div>
                        </div>
                        <div class="theme_list">
                            <div class="center">
                                <img class="theme_bg" src="" alt="">
                                <div class="text_box">#고급진</div>
                            </div>
                        </div>
                        <div class="theme_list">
                            <div class="center">
                                <img class="theme_bg" src="" alt="">
                                <div class="text_box">#아늑한</div>
                            </div>
                        </div>
                        <div class="theme_list">
                            <div class="center">
                                <img class="theme_bg" src="" alt="">
                                <div class="text_box">#화려한</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs"); %>
</body>
</html>