* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input, select, textarea {
  outline: 0;
}

textarea {
  resize: none;
}

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

#header {
  margin: 0 auto;
  z-index: 99;
  border-bottom: 1px solid #000;
}
#header .center {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57%;
}
#header .h_top {
  background-color: #dbdbdb;
}
#header .h_top .sns {
  display: flex;
}
#header .h_top .sns li {
  margin-right: 25px;
  font-size: 15px;
}
#header .h_top .sns li a {
  color: #313131;
}
#header .h_top .right_box {
  display: flex;
}
#header .h_top .right_box li {
  line-height: 40px;
  margin-left: 20px;
  position: relative;
}
#header .h_top .right_box li span {
  font-size: 13px;
}
#header .h_top .right_box li::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 16px;
  width: 2px;
  height: 12px;
  margin: 0 9px;
  background-color: #686868;
}
#header .h_top .right_box li:last-child::after {
  display: none;
}
#header .h_top .right_box li a {
  color: #313131;
  font-size: 13px;
}
#header .h_bot .logo {
  width: 160px;
  height: 43px;
}
#header .h_bot .logo a img {
  width: 100%;
  height: 100%;
}
#header .h_bot .logo a span {
  font-size: 25px;
  color: #000000;
  margin-left: -3px;
}
#header .h_bot .gnb {
  display: flex;
}
#header .h_bot .gnb > li {
  width: 90px;
  text-align: center;
  line-height: 70px;
  margin-left: 40px;
  position: relative;
}
#header .h_bot .gnb > li > a {
  color: #131313;
  font-size: 18px;
}
#header .h_bot .gnb > li .sub_menu {
  position: absolute;
  left: 50%;
  top: 72px;
  transform: translateX(-50%);
  text-align: center;
  background-color: pink;
  width: 150px;
  z-index: 99;
  display: none;
}
#header .h_bot .gnb > li .sub_menu li {
  line-height: 55px;
}
#header .h_bot .gnb > li .sub_menu li a {
  display: block;
  transition: all 0.5s;
  color: #131313;
}
#header .h_bot .gnb > li .sub_menu li a:hover {
  background-color: red;
}
#header .h_bot .mobile_menu {
  display: none;
}
#header .h_bot .mobile_menu .bar {
  width: 30px;
  height: 2px;
  margin: 4px 0;
  border-radius: 3px;
  background-color: #000;
}

#container .slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#container .slide .view {
  width: 400%;
  height: 855px;
  display: flex;
  transition: all 0.5s;
}
#container .slide .view .slide_box {
  width: 25%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;
}
#container .slide .view .slide_box:nth-child(1) {
  background-image: url(/img/slide01.jpg);
}
#container .slide .view .slide_box:nth-child(2) {
  background-image: url(/img/slide02.jpg);
}
#container .slide .view .slide_box:nth-child(3) {
  background-image: url(/img/slide03.jpg);
}
#container .slide .view .slide_box:nth-child(4) {
  background-image: url(/img/slide04.jpg);
}
#container .slide .view .slide_box .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
#container .slide .view .slide_box .text_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
#container .slide .view .slide_box .text_box .slide_title {
  font-size: 50px;
  margin-bottom: 38px;
}
#container .slide .view .slide_box .text_box .sub_text {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 40px;
}
#container .slide .view .slide_box .text_box .slide_btn a {
  color: #fff;
  background-color: skyblue;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 15px;
}
#container .slide .prev_next > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#container .slide .prev_next .prev {
  left: 20px;
}
#container .slide .prev_next .next {
  right: 20px;
}
#container .slide .circle_btn {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
}
#container .slide .circle_btn .circle {
  width: 50px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 12px;
  border-radius: 10px;
  cursor: pointer;
}
#container .slide .circle_btn .circle.on {
  background-color: #fff;
}
#container .popular_local {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
#container .popular_local .center {
  width: 57%;
}
#container .popular_local .center .title_box .title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
}
#container .popular_local .center .title_box .sub_title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 15px;
}
#container .popular_local .center .local_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#container .popular_local .center .local_wrap .local_box {
  width: 32%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
#container .popular_local .center .local_wrap .local_box:hover .hover_box {
  bottom: 0;
}
#container .popular_local .center .local_wrap .local_box:nth-child(1) {
  background-image: url(/img/popular.jpg);
}
#container .popular_local .center .local_wrap .local_box:nth-child(2) {
  background-image: url(/img/popular.jpg);
}
#container .popular_local .center .local_wrap .local_box:nth-child(3) {
  background-image: url(/img/popular.jpg);
}
#container .popular_local .center .local_wrap .local_box:nth-child(4) {
  background-image: url(/img/popular.jpg);
  width: 66%;
}
#container .popular_local .center .local_wrap .local_box:nth-child(5) {
  background-image: url(/img/popular.jpg);
}
#container .popular_local .center .local_wrap .local_box .text_box {
  box-sizing: border-box;
  color: #fff;
  margin: 207px 0 0 10px;
}
#container .popular_local .center .local_wrap .local_box .hover_box {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: all 0.5s;
  text-align: center;
  color: #fff;
}
#container .popular_local .center .local_wrap .mg {
  margin-bottom: 2%;
}
#container .local_video {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  margin: 180px 0;
  background-color: #eeeeee;
}
#container .local_video .center {
  width: 100%;
}
#container .local_video .center .title_box .title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
}
#container .local_video .center .title_box .sub_title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 15px;
}
#container .local_video .center .context_wrap {
  display: flex;
  align-items: center;
}
#container .local_video .center .context_wrap > div {
  width: 50%;
  margin: 0 30px;
}
#container .local_video .center .context_wrap .left {
  height: 500px;
}
#container .local_video .center .context_wrap .left video {
  width: 100%;
  height: 100%;
}
#container .local_video .center .context_wrap .right {
  height: 500px;
}
#container .local_video .center .context_wrap .right .box_list {
  height: 23%;
  background-color: pink;
  margin-bottom: 1.5%;
  border-radius: 5px;
  padding: 25px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
#container .local_video .center .context_wrap .right .box_list:last-child {
  margin-bottom: 0;
}
#container .local_video .center .context_wrap .right .box_list .icon {
  font-size: 55px;
  margin-right: 35px;
}
#container .local_video .center .context_wrap .right .box_list .text_box .text1 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
}
#container .local_video .center .context_wrap .right .box_list .text_box .text2 {
  font-size: 15px;
  line-height: 21px;
}
#container .tour_bus {
  display: flex;
  justify-content: center;
  padding-bottom: 300px;
}
#container .tour_bus .center {
  width: 70%;
}
#container .tour_bus .center .title_box .title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
}
#container .tour_bus .center .title_box .sub_title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 15px;
}
#container .tour_bus .center .bus_wrap {
  display: flex;
  justify-content: space-between;
}
#container .tour_bus .center .bus_wrap .bus_box {
  width: 22%;
  background-color: palegreen;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.5s;
}
#container .tour_bus .center .bus_wrap .bus_box:hover {
  bottom: 20px;
}
#container .tour_bus .center .bus_wrap .bus_box .tour_img img {
  width: 100%;
}
#container .tour_bus .center .bus_wrap .bus_box .tour_info {
  padding: 10px;
}
#container .tour_bus .center .bus_wrap .bus_box .tour_info .tour_title {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
#container .tour_bus .center .bus_wrap .bus_box .tour_info .hash_tag {
  margin-top: 7px;
  font-size: 15px;
}
#container .tour_bus .center .bus_wrap .bus_box .tour_info .hash_tag span {
  margin-right: 5px;
}
#container .tour_bus .center .bus_wrap .bus_box .tour_info .price {
  margin: 10px 0 5px;
}
#container .tour_bus .center .bus_wrap .bus_box .tour_info .price span {
  font-size: 22px;
  font-weight: 600;
}
#container .local_count {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/popular.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 300px;
}
#container .local_count .center {
  width: 57%;
}
#container .local_count .center .count_wrap {
  display: flex;
  justify-content: space-between;
}
#container .local_count .center .count_wrap .count_box {
  width: 18%;
  margin: 0 2%;
  text-align: center;
  background-color: #dbdbdb;
  border-radius: 10px;
  padding: 15px 0;
}
#container .local_count .center .count_wrap .count_box .icon {
  font-size: 35px;
  margin-bottom: 10px;
}
#container .local_count .center .count_wrap .count_box .local_name {
  font-size: 18px;
  margin-bottom: 5px;
}
#container .local_count .center .count_wrap .count_box .count_number {
  font-size: 20px;
}
#container .package {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}
#container .package .center {
  width: 57%;
}
#container .package .center .title_box .title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
}
#container .package .center .title_box .sub_title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 15px;
}
#container .package .center .package_wrap {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}
#container .package .center .package_wrap .left {
  width: 40%;
  height: 100%;
  background-image: url("/img/popular.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 87px 0 0 20px;
}
#container .package .center .package_wrap .left .big_text {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 50px;
}
#container .package .center .package_wrap .left .package_menu li {
  width: 53%;
  background-color: palegreen;
  border-radius: 10px;
  margin-bottom: 10px;
  line-height: 45px;
  padding-left: 12px;
}
#container .package .center .package_wrap .left .package_menu li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
#container .package .center .package_wrap .right {
  width: 100%;
  position: absolute;
  left: 343px;
  top: 25%;
}
#container .package .center .package_wrap .right .local {
  display: flex;
}
#container .package .center .package_wrap .right .local .box {
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  background-color: #dbdbdb;
}
#container .package .center .package_wrap .right .local .box img {
  width: 100%;
}
#container .package .center .package_wrap .right .local .box .package_info {
  padding: 10px;
}
#container .package .center .package_wrap .right .local .box .package_info .tour_title {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
#container .package .center .package_wrap .right .local .box .package_info .hash_tag {
  margin-top: 7px;
  font-size: 15px;
}
#container .package .center .package_wrap .right .local .box .package_info .hash_tag span {
  margin-right: 5px;
}
#container .package .center .package_wrap .right .local .box .package_info .price {
  margin: 10px 0 5px;
}
#container .package .center .package_wrap .right .local .box .package_info .price span {
  font-size: 22px;
  font-weight: 600;
}
#container .banner {
  background-color: orchid;
  display: flex;
  justify-content: center;
}
#container .banner .center {
  width: 37%;
}
#container .banner.list {
  background-image: url("/img/banner01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 500px;
}
#container .banner.list .front_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#container .banner.list .center {
  width: 57%;
  display: flex;
  align-items: center;
  z-index: 98;
}
#container .banner.list .center .text_box {
  color: #fff;
  background-color: #686868;
  padding: 50px;
  border-radius: 10px;
}
#container .banner.list .center .text_box .title {
  margin-bottom: 15px;
}
#container .banner.list .center .text_box .subtitle {
  margin-bottom: 50px;
  line-height: 20px;
}
#container .banner.list .center .text_box .go_insert {
  color: #fff;
  background-color: #27aa78;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 21px;
}
#container .travel_list {
  display: flex;
  justify-content: center;
  background-color: orange;
}
#container .travel_list .center {
  width: 57%;
  background-color: palegoldenrod;
  padding: 50px;
  box-sizing: border-box;
}
#container .travel_list .center .list_wrap .text_box {
  text-align: center;
  margin-bottom: 30px;
}
#container .travel_list .center .list_wrap .text_box .title {
  font-size: 25px;
  margin-bottom: 12px;
}
#container .travel_list .center .list_wrap .list_box {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 5px;
}
#container .travel_list .center .list_wrap .list_box .left {
  width: 70%;
}
#container .travel_list .center .list_wrap .list_box .left .user_name {
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
}
#container .travel_list .center .list_wrap .list_box .left .user_date {
  font-size: 12px;
  color: #555555;
  margin-bottom: 18px;
}
#container .travel_list .center .list_wrap .list_box .left .user_title {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container .travel_list .center .list_wrap .list_box .left .user_title a {
  color: #000000;
}
#container .travel_list .center .list_wrap .list_box .left .user_context {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 21px;
  color: #555555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container .travel_list .center .list_wrap .list_box .left .review_comment .review {
  font-size: 12px;
  color: #555555;
}
#container .travel_list .center .list_wrap .list_box .right {
  width: 25%;
  height: 140px;
}
#container .travel_list .center .list_wrap .list_box .right img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#container .travel_list .center .btn_wrap {
  display: flex;
  justify-content: flex-end;
}
#container .travel_list .center .btn_wrap .write_btn {
  background-color: pink;
  display: inline-block;
  width: 85px;
  line-height: 45px;
  color: #505050;
  text-align: center;
  border-radius: 5px;
}
#container .detail_page {
  display: flex;
  justify-content: center;
}
#container .detail_page .center {
  width: 57%;
  margin: 0 auto;
}
#container .detail_page .center .detail_wrap .title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}
#container .detail_page .center .detail_wrap .title_box .user_title {
  width: 75%;
  font-size: 20px;
  font-weight: 600;
  line-height: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container .detail_page .center .detail_wrap .title_box .user_name {
  font-size: 15px;
}
#container .detail_page .center .detail_wrap .bar {
  width: 100%;
  height: 5px;
  background-color: pink;
  border-radius: 5px;
}
#container .detail_page .center .detail_wrap .context {
  margin: 0 auto;
  padding: 30px 12px 170px;
  font-size: 17px;
  border-bottom: 1px solid #555;
}
#container .detail_page .center .detail_wrap .context .user_img {
  margin: 50px auto 40px;
  width: 100%;
  height: 600px;
}
#container .detail_page .center .detail_wrap .context .user_img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#container .detail_page .center .detail_wrap .detail_bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 70px;
  padding: 0 12px;
  margin-bottom: 30px;
}
#container .detail_page .center .detail_wrap .detail_bot .brd_info {
  display: flex;
  font-size: 13px;
}
#container .detail_page .center .detail_wrap .detail_bot .brd_info > div {
  margin-right: 10px;
  font-weight: bold;
  color: #555;
}
#container .detail_page .center .detail_wrap .detail_bot .brd_info > div span {
  font-weight: normal;
}
#container .detail_page .center .detail_wrap .detail_bot .detail_btns > a {
  color: #000;
  margin-left: 12px;
  font-size: 17px;
}
#container .detail_page .center .detail_wrap .com_wrap p {
  font-size: 17px;
}
#container .detail_page .center .detail_wrap .com_wrap p i {
  font-size: 20px;
}
#container .detail_page .center .detail_wrap .com_wrap .com_view {
  border-bottom: 1px solid #0f754b;
  padding: 20px 0;
}
#container .detail_page .center .detail_wrap .com_wrap .com_view .com_user {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 600;
}
#container .detail_page .center .detail_wrap .com_wrap .com_view .com_context {
  font-size: 15px;
  margin-bottom: 5px;
  color: #474747;
}
#container .detail_page .center .detail_wrap .com_wrap .com_view .com_date {
  font-size: 12px;
  color: #cacaca;
}
#container .detail_page .center .detail_wrap .com_wrap .com_insert {
  margin-top: 40px;
}
#container .detail_page .center .detail_wrap .com_wrap .com_insert #com_form .comment {
  width: 100%;
  height: 100px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
}
#container .detail_page .center .detail_wrap .com_wrap .com_insert #com_form .btn_wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
#container .detail_page .center .detail_wrap .com_wrap .com_insert #com_form .btn_wrap #com_btn {
  width: 7%;
  height: 30px;
  border: none;
  background-color: #28865f;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
#container .insert_wrap, #container .update_wrap {
  display: flex;
  justify-content: center;
}
#container .insert_wrap .center, #container .update_wrap .center {
  width: 57%;
  background-color: #ff8119;
}
#container .insert_wrap .center > h3, #container .update_wrap .center > h3 {
  font-size: 30px;
  text-align: center;
  margin: 55px 0 50px;
}
#container .insert_wrap .center #insert_form .insert_top, #container .insert_wrap .center #insert_form .update_top, #container .insert_wrap .center #update_form .insert_top, #container .insert_wrap .center #update_form .update_top, #container .update_wrap .center #insert_form .insert_top, #container .update_wrap .center #insert_form .update_top, #container .update_wrap .center #update_form .insert_top, #container .update_wrap .center #update_form .update_top {
  display: flex;
  justify-content: space-between;
}
#container .insert_wrap .center #insert_form .insert_top > div, #container .insert_wrap .center #insert_form .update_top > div, #container .insert_wrap .center #update_form .insert_top > div, #container .insert_wrap .center #update_form .update_top > div, #container .update_wrap .center #insert_form .insert_top > div, #container .update_wrap .center #insert_form .update_top > div, #container .update_wrap .center #update_form .insert_top > div, #container .update_wrap .center #update_form .update_top > div {
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
  align-items: center;
}
#container .insert_wrap .center #insert_form .insert_top > div > div, #container .insert_wrap .center #insert_form .update_top > div > div, #container .insert_wrap .center #update_form .insert_top > div > div, #container .insert_wrap .center #update_form .update_top > div > div, #container .update_wrap .center #insert_form .insert_top > div > div, #container .update_wrap .center #insert_form .update_top > div > div, #container .update_wrap .center #update_form .insert_top > div > div, #container .update_wrap .center #update_form .update_top > div > div {
  text-align: center;
}
#container .insert_wrap .center #insert_form .insert_top .title_box, #container .insert_wrap .center #insert_form .update_top .title_box, #container .insert_wrap .center #update_form .insert_top .title_box, #container .insert_wrap .center #update_form .update_top .title_box, #container .update_wrap .center #insert_form .insert_top .title_box, #container .update_wrap .center #insert_form .update_top .title_box, #container .update_wrap .center #update_form .insert_top .title_box, #container .update_wrap .center #update_form .update_top .title_box {
  width: 80%;
}
#container .insert_wrap .center #insert_form .insert_top .title_box .title_text, #container .insert_wrap .center #insert_form .update_top .title_box .title_text, #container .insert_wrap .center #update_form .insert_top .title_box .title_text, #container .insert_wrap .center #update_form .update_top .title_box .title_text, #container .update_wrap .center #insert_form .insert_top .title_box .title_text, #container .update_wrap .center #insert_form .update_top .title_box .title_text, #container .update_wrap .center #update_form .insert_top .title_box .title_text, #container .update_wrap .center #update_form .update_top .title_box .title_text {
  font-size: 20px;
  text-align: center;
  margin: 0 20px;
}
#container .insert_wrap .center #insert_form .insert_top .title_box input, #container .insert_wrap .center #insert_form .update_top .title_box input, #container .insert_wrap .center #update_form .insert_top .title_box input, #container .insert_wrap .center #update_form .update_top .title_box input, #container .update_wrap .center #insert_form .insert_top .title_box input, #container .update_wrap .center #insert_form .update_top .title_box input, #container .update_wrap .center #update_form .insert_top .title_box input, #container .update_wrap .center #update_form .update_top .title_box input {
  height: 40px;
  width: 70%;
  padding-left: 12px;
  border-radius: 5px;
  border: 1px solid #000;
}
#container .insert_wrap .center #insert_form .insert_top .name_box, #container .insert_wrap .center #insert_form .update_top .name_box, #container .insert_wrap .center #update_form .insert_top .name_box, #container .insert_wrap .center #update_form .update_top .name_box, #container .update_wrap .center #insert_form .insert_top .name_box, #container .update_wrap .center #insert_form .update_top .name_box, #container .update_wrap .center #update_form .insert_top .name_box, #container .update_wrap .center #update_form .update_top .name_box {
  width: 20%;
}
#container .insert_wrap .center #insert_form .insert_top .name_box .name_text, #container .insert_wrap .center #insert_form .update_top .name_box .name_text, #container .insert_wrap .center #update_form .insert_top .name_box .name_text, #container .insert_wrap .center #update_form .update_top .name_box .name_text, #container .update_wrap .center #insert_form .insert_top .name_box .name_text, #container .update_wrap .center #insert_form .update_top .name_box .name_text, #container .update_wrap .center #update_form .insert_top .name_box .name_text, #container .update_wrap .center #update_form .update_top .name_box .name_text {
  width: 28%;
  font-size: 15px;
}
#container .insert_wrap .center #insert_form .insert_top .name_box .name, #container .insert_wrap .center #insert_form .update_top .name_box .name, #container .insert_wrap .center #update_form .insert_top .name_box .name, #container .insert_wrap .center #update_form .update_top .name_box .name, #container .update_wrap .center #insert_form .insert_top .name_box .name, #container .update_wrap .center #insert_form .update_top .name_box .name, #container .update_wrap .center #update_form .insert_top .name_box .name, #container .update_wrap .center #update_form .update_top .name_box .name {
  width: 60%;
  background-color: #949494;
  color: #353535;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid #585858;
  margin-right: 20px;
  box-sizing: border-box;
}
#container .insert_wrap .center #insert_form .file_wrap, #container .insert_wrap .center #update_form .file_wrap, #container .update_wrap .center #insert_form .file_wrap, #container .update_wrap .center #update_form .file_wrap {
  display: flex;
  align-items: center;
  line-height: 35px;
  padding: 0 20px;
}
#container .insert_wrap .center #insert_form .file_wrap .file_text, #container .insert_wrap .center #update_form .file_wrap .file_text, #container .update_wrap .center #insert_form .file_wrap .file_text, #container .update_wrap .center #update_form .file_wrap .file_text {
  margin-right: 12px;
}
#container .insert_wrap .center #insert_form .bar, #container .insert_wrap .center #update_form .bar, #container .update_wrap .center #insert_form .bar, #container .update_wrap .center #update_form .bar {
  width: 100%;
  height: 2px;
  background-color: red;
  border-radius: 10px;
  margin: 10px 0 20px;
}
#container .insert_wrap .center #insert_form .context_wrap, #container .insert_wrap .center #update_form .context_wrap, #container .update_wrap .center #insert_form .context_wrap, #container .update_wrap .center #update_form .context_wrap {
  padding: 0 20px;
}
#container .insert_wrap .center #insert_form .context_wrap .context, #container .insert_wrap .center #update_form .context_wrap .context, #container .update_wrap .center #insert_form .context_wrap .context, #container .update_wrap .center #update_form .context_wrap .context {
  padding: 12px;
  border: 1px solid #000;
  height: 550px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
#container .insert_wrap .center #insert_form .btn_wrap, #container .insert_wrap .center #update_form .btn_wrap, #container .update_wrap .center #insert_form .btn_wrap, #container .update_wrap .center #update_form .btn_wrap {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
}
#container .insert_wrap .center #insert_form .btn_wrap #sub_btn, #container .insert_wrap .center #insert_form .btn_wrap #upt_btn, #container .insert_wrap .center #update_form .btn_wrap #sub_btn, #container .insert_wrap .center #update_form .btn_wrap #upt_btn, #container .update_wrap .center #insert_form .btn_wrap #sub_btn, #container .update_wrap .center #insert_form .btn_wrap #upt_btn, #container .update_wrap .center #update_form .btn_wrap #sub_btn, #container .update_wrap .center #update_form .btn_wrap #upt_btn {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #27aa78;
  color: #ffffff;
  cursor: pointer;
}
#container .where {
  display: flex;
  justify-content: center;
}
#container .where .center {
  width: 57%;
  background-color: #dbdbdb;
}
#container .where .center .title {
  text-align: center;
  margin: 30px 0;
}
#container .where .center .sub_popular_local .subtitle, #container .where .center .theme_hotel .subtitle {
  text-align: center;
}
#container .where .center .sub_popular_local .local_list_wrap, #container .where .center .sub_popular_local .theme_list_wrap, #container .where .center .theme_hotel .local_list_wrap, #container .where .center .theme_hotel .theme_list_wrap {
  background-color: pink;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 20px;
}
#container .where .center .sub_popular_local .local_list_wrap > a, #container .where .center .sub_popular_local .theme_list_wrap > a, #container .where .center .theme_hotel .local_list_wrap > a, #container .where .center .theme_hotel .theme_list_wrap > a {
  width: 24%;
}
#container .where .center .sub_popular_local .local_list_wrap > a .local_list, #container .where .center .sub_popular_local .local_list_wrap > a .theme_list, #container .where .center .sub_popular_local .theme_list_wrap > a .local_list, #container .where .center .sub_popular_local .theme_list_wrap > a .theme_list, #container .where .center .theme_hotel .local_list_wrap > a .local_list, #container .where .center .theme_hotel .local_list_wrap > a .theme_list, #container .where .center .theme_hotel .theme_list_wrap > a .local_list, #container .where .center .theme_hotel .theme_list_wrap > a .theme_list {
  margin: 0 1%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
#container .where .center .sub_popular_local .local_list_wrap > a .local_list .local_bg, #container .where .center .sub_popular_local .local_list_wrap > a .local_list .theme_bg, #container .where .center .sub_popular_local .local_list_wrap > a .theme_list .local_bg, #container .where .center .sub_popular_local .local_list_wrap > a .theme_list .theme_bg, #container .where .center .sub_popular_local .theme_list_wrap > a .local_list .local_bg, #container .where .center .sub_popular_local .theme_list_wrap > a .local_list .theme_bg, #container .where .center .sub_popular_local .theme_list_wrap > a .theme_list .local_bg, #container .where .center .sub_popular_local .theme_list_wrap > a .theme_list .theme_bg, #container .where .center .theme_hotel .local_list_wrap > a .local_list .local_bg, #container .where .center .theme_hotel .local_list_wrap > a .local_list .theme_bg, #container .where .center .theme_hotel .local_list_wrap > a .theme_list .local_bg, #container .where .center .theme_hotel .local_list_wrap > a .theme_list .theme_bg, #container .where .center .theme_hotel .theme_list_wrap > a .local_list .local_bg, #container .where .center .theme_hotel .theme_list_wrap > a .local_list .theme_bg, #container .where .center .theme_hotel .theme_list_wrap > a .theme_list .local_bg, #container .where .center .theme_hotel .theme_list_wrap > a .theme_list .theme_bg {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
#container .where .center .sub_popular_local .local_list_wrap > a .local_list .local_bg:hover, #container .where .center .sub_popular_local .local_list_wrap > a .local_list .theme_bg:hover, #container .where .center .sub_popular_local .local_list_wrap > a .theme_list .local_bg:hover, #container .where .center .sub_popular_local .local_list_wrap > a .theme_list .theme_bg:hover, #container .where .center .sub_popular_local .theme_list_wrap > a .local_list .local_bg:hover, #container .where .center .sub_popular_local .theme_list_wrap > a .local_list .theme_bg:hover, #container .where .center .sub_popular_local .theme_list_wrap > a .theme_list .local_bg:hover, #container .where .center .sub_popular_local .theme_list_wrap > a .theme_list .theme_bg:hover, #container .where .center .theme_hotel .local_list_wrap > a .local_list .local_bg:hover, #container .where .center .theme_hotel .local_list_wrap > a .local_list .theme_bg:hover, #container .where .center .theme_hotel .local_list_wrap > a .theme_list .local_bg:hover, #container .where .center .theme_hotel .local_list_wrap > a .theme_list .theme_bg:hover, #container .where .center .theme_hotel .theme_list_wrap > a .local_list .local_bg:hover, #container .where .center .theme_hotel .theme_list_wrap > a .local_list .theme_bg:hover, #container .where .center .theme_hotel .theme_list_wrap > a .theme_list .local_bg:hover, #container .where .center .theme_hotel .theme_list_wrap > a .theme_list .theme_bg:hover {
  transform: scale(1.3);
}
#container .where .center .sub_popular_local .local_list_wrap > a .local_list .text_box, #container .where .center .sub_popular_local .local_list_wrap > a .theme_list .text_box, #container .where .center .sub_popular_local .theme_list_wrap > a .local_list .text_box, #container .where .center .sub_popular_local .theme_list_wrap > a .theme_list .text_box, #container .where .center .theme_hotel .local_list_wrap > a .local_list .text_box, #container .where .center .theme_hotel .local_list_wrap > a .theme_list .text_box, #container .where .center .theme_hotel .theme_list_wrap > a .local_list .text_box, #container .where .center .theme_hotel .theme_list_wrap > a .theme_list .text_box {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  padding: 7px;
  font-size: 15px;
}
#container .where .center .sub_popular_local .local_list_wrap > a .local_list .text_box .hash_tag, #container .where .center .sub_popular_local .local_list_wrap > a .theme_list .text_box .hash_tag, #container .where .center .sub_popular_local .theme_list_wrap > a .local_list .text_box .hash_tag, #container .where .center .sub_popular_local .theme_list_wrap > a .theme_list .text_box .hash_tag, #container .where .center .theme_hotel .local_list_wrap > a .local_list .text_box .hash_tag, #container .where .center .theme_hotel .local_list_wrap > a .theme_list .text_box .hash_tag, #container .where .center .theme_hotel .theme_list_wrap > a .local_list .text_box .hash_tag, #container .where .center .theme_hotel .theme_list_wrap > a .theme_list .text_box .hash_tag {
  margin-right: 2px;
}
#container .where .center .btn_wrap {
  display: flex;
  justify-content: center;
}
#container .where .center .btn_wrap .hotel_more {
  background-color: skyblue;
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000000;
  font-size: 14px;
}
#container .where .center .btn_wrap .hotel_more i {
  margin-left: 7px;
}
#container .good_hotel {
  width: 100%;
}
#container .good_hotel .center {
  background-color: skyblue;
}
#container .good_hotel .center .title {
  text-align: center;
  margin: 10px 0;
}
#container .good_hotel .center .silde_wrap .silde_view {
  width: 100%;
  display: flex;
  background-color: #27aa78;
}
#login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .center {
  width: 30%;
}
#login .center .login_wrap {
  background-color: #ffb773;
  border-radius: 5px;
  padding: 50px;
  box-sizing: border-box;
}
#login .center .login_wrap .logo_wrap {
  width: 25%;
  margin: 0 auto 10px;
}
#login .center .login_wrap .logo_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#login .center .login_wrap .text {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 50px;
}
#login .center .login_wrap #login_form .input_wrap {
  margin-bottom: 24px;
}
#login .center .login_wrap #login_form .input_wrap label {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}
#login .center .login_wrap #login_form .input_wrap input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 12px;
  font-size: 22px;
  border: 2px solid #666666;
  border-radius: 5px;
}
#login .center .login_wrap #login_form #login_btn {
  width: 100%;
  border: none;
  height: 55px;
  border-radius: 5px;
  color: #424242;
  font-size: 22px;
  font-weight: 600;
  margin: 30px 0 10px;
  cursor: pointer;
}
#login .center .login_wrap .go_join {
  text-align: center;
  font-size: 15px;
  color: #666666;
}
#login .center .login_wrap .go_join a {
  margin-left: 10px;
  color: #464646;
}

#join {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb773;
}
#join .center {
  width: 50%;
}
#join .center .join_wrap {
  border-radius: 5px;
  padding: 130px;
  box-sizing: border-box;
}
#join .center .join_wrap .logo_wrap {
  width: 25%;
  margin: 0 auto 10px;
}
#join .center .join_wrap .logo_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#join .center .join_wrap .text {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 50px;
}
#join .center #join_form .input_wrap {
  padding-bottom: 50px;
  position: relative;
}
#join .center #join_form .input_wrap label {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
}
#join .center #join_form .input_wrap input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  font-size: 17px;
  padding-left: 12px;
  border-radius: 5px;
  border: 2px solid #666666;
}
#join .center #join_form .input_wrap .msg_box, #join .center #join_form .input_wrap .re_msg_box {
  width: 100%;
  position: absolute;
  left: 0;
  top: 83px;
  font-size: 13px;
  line-height: 15px;
}
#join .center #join_form #join_btn {
  width: 100%;
  border: none;
  height: 55px;
  border-radius: 5px;
  color: #424242;
  font-size: 22px;
  font-weight: 600;
  margin: 30px 0 10px;
  cursor: pointer;
}
#join .center .go_login {
  text-align: center;
  font-size: 15px;
  color: #666666;
}
#join .center .go_login a {
  margin-left: 10px;
  color: #464646;
}

#footer {
  background-color: skyblue;
  color: #fff;
}
#footer > div .center {
  width: 57%;
  margin: 0 auto;
}
#footer .f_top {
  background-color: olivedrab;
}
#footer .f_top .center .f_menu {
  display: flex;
}
#footer .f_top .center .f_menu li {
  margin-right: 15px;
  line-height: 40px;
}
#footer .f_top .center .f_menu li a {
  color: #fff;
  font-size: 13px;
}
#footer .f_bot {
  padding: 30px 0;
}
#footer .f_bot .center {
  display: flex;
  align-items: center;
}
#footer .f_bot .center .left {
  width: 10%;
  margin-right: 40px;
}
#footer .f_bot .center .left .f_logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#footer .f_bot .center .right {
  font-size: 12px;
}
#footer .f_bot .center .right .bar::after {
  content: "";
  width: 2px;
  height: 11px;
  background-color: #0f754b;
  display: inline-block;
  left: 0;
  top: 0;
  margin: 0 6px;
  position: relative;
  top: 1px;
  left: 1px;
}
#footer .f_bot .center .right .dummy_wrap {
  margin-bottom: 12px;
}
#footer .f_bot .center .right .dummy_wrap > div {
  margin-bottom: 5px;
}
#footer .f_bot .center .right .copy {
  color: #505050;
}