<!-- 클래스에 공통이름 및 다른 이름들 줘서 css는 다르게 하기 -->
<div class="banner list detail">
    <div class="front_bg"></div>
    <div class="center">
        <div class="text_box">
            <h2 class="title">
                글로벌 여행 후기 이벤트
            </h2>
            <p class="subtitle">
                홈페이지에 멋진 사진을 올리고<br>
                여행 후기를 남겨주세요!
            </p>
            <a class="go_insert" href="/insert">이벤트 참여하기</a>
        </div>
    </div>
</div>