<div id="footer">
    <div class=f_top>
        <div class="center">
            <ul class="f_menu">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">이메일주소무단수집거부</a></li>
                <li><a href="#">사이트맵</a></li>
            </ul>
        </div>
    </div>
    <div class=f_bot>
        <div class="center">
            <div class="left">
                <img class="f_logo" src="/img/logo2.png" alt="">
            </div>
            <div class="right">
                <div class="dummy_wrap">
                    <div class="ceo">
                        <span class="comp_name bar">회사명: 동글투어</span>
                        <span class="ceo_name">대표자: 허유진</span>
                    </div>
                    <div class="addr">
                        <span class="address bar">주소: 경기도 고양시 일산동구 장항로</span>
                        <span class="comp_name">고객센터: 9866-4543</span>
                    </div>
                    <div class="office_info">
                        <span class="info1 bar">사업자등록번호: 000-00-00000</span>
                        <span class="info2">통신판매업신고번호: 0000-경기장항-0000</span>
                    </div>
                </div>
                <div class="copy">
                    COPYRIGHTⓒ2022 DONGLETOUR.ALLRIGHT RESERVED.
                </div>
            </div>
        </div>
    </div>
</div>